#cabecera{
    background-color: brown;
    font-family: fantasy;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}

#columnaizq{
    background-color: chocolate;
    font-family: fantasy;
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: 51px;
    min-height: 700px;
}

*{
    margin: 0;
    padding: 0;
}